{% extends 'base.html' %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Liked</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'shop:home' %}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Liked</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="row px-xl-5 pb-3">
        <div id="product-list-waypoint" style="display: none"></div>
        {% include 'like/frames/like_list.html' %}
    </div>
{% endblock %}

{% block script %}
    <script>
        function addGETParams(paramArray) {
            let url = new URL(window.location.href);
            let queryParams = new URLSearchParams(url.search);

            for (let i = 0; i < paramArray.length; i++) {
                let param = paramArray[i].split('=');
                if (param[1].length !== 0) {
                    if (queryParams.has(param[0])) {
                        queryParams.set(param[0], param[1]);
                    } else {
                        queryParams.append(param[0], param[1]);
                    }
                } else {
                    queryParams.delete(param[0]);
                }
            }

            url.search = queryParams.toString();
            window.history.replaceState(null, null, url);
            $.ajax({
                method: 'GET',
                url: url.href,
                type: 'html',
                success: function (data) {
                    $('#product_paginator').empty();
                    $('.product-list-display').empty();
                    $(data).insertAfter("#product-list-waypoint");
                }
            });
        }
    </script>
{% endblock %}