{% extends 'base.html' %}

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Our Shop</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="{% url 'shop:home' %}">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Shop</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-12">
                <!-- Price Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                    <form>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-1">
                            <label class="custom-control-label" for="price-1">$0 - $100</label>
                            <span class="badge border font-weight-normal">150</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-2">
                            <label class="custom-control-label" for="price-2">$100 - $200</label>
                            <span class="badge border font-weight-normal">295</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-3">
                            <label class="custom-control-label" for="price-3">$200 - $300</label>
                            <span class="badge border font-weight-normal">246</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-4">
                            <label class="custom-control-label" for="price-4">$300 - $400</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                            <input type="checkbox" class="custom-control-input" id="price-5">
                            <label class="custom-control-label" for="price-5">$400 - $500</label>
                            <span class="badge border font-weight-normal">168</span>
                        </div>
                        <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                            <input type="checkbox" class="custom-control-input" id="price-4">
                            <label class="custom-control-label" for="price-4">$500+</label>
                            <span class="badge border font-weight-normal">145</span>
                        </div>
                    </form>
                </div>
                <!-- Price End -->

                <!-- Color Start -->
                <div class="border-bottom mb-4 pb-4">
                    <h5 class="font-weight-semi-bold mb-4">Filter by color</h5>
                    <form id="color_form">
                        {% for color in colors %}
                            <div class="custom-control custom-checkbox d-flex align-items-center
                            justify-content-between {% if not forloop.last %}mb-3{% endif %}">
                                <input type="checkbox" class="custom-control-input" id="color-{{ color }}">
                                <label class="custom-control-label" for="color-{{ color }}">{{ color }}</label>
                                <span class="badge border font-weight-normal">{{ color.count }}</span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <!-- Color End -->

                <!-- Size Start -->
                <div class="mb-5">
                    <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
                    <form id="size_form">
                        {% for size in sizes %}
                            <div class="custom-control custom-checkbox d-flex align-items-center
                            justify-content-between {% if not forloop.last %}mb-3{% endif %}">
                                <input type="checkbox" class="custom-control-input" id="color-{{ size }}">
                                <label class="custom-control-label" for="color-{{ size }}">{{ size }}</label>
                                <span class="badge border font-weight-normal">{{ size.count }}</span>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <!-- Size End -->
            </div>
            <!-- Shop Sidebar End -->


            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-12">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <form action="">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search by name">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent text-primary">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                            <div class="dropdown ml-4">
                                <button class="btn border dropdown-toggle" type="button" id="order_by_id"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    Order by
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="order_by_id">
                                    <a class="dropdown-item" onclick="addGETParams(['order_by=latest'])">Latest</a>
                                    <a class="dropdown-item" onclick="addGETParams(['order_by=cheap'])">Cheapest</a>
                                    <a class="dropdown-item" onclick="addGETParams(['order_by=expansive'])">Most
                                        Expansive</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="product-list-waypoint" style="display: none"></div>

                    {% include 'shop/frames/product_list.html' %}

                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
{% endblock %}

{% block script %}
    <script>
        function addGETParams(paramArray) {
            let url = new URL(window.location.href);
            let queryParams = new URLSearchParams(url.search);

            for (let i = 0; i < paramArray.length; i++) {
                let param = paramArray[i].split('=');
                if (param[1].length !== 0) {
                    if (queryParams.has(param[0])) {
                        queryParams.set(param[0], param[1]);
                    } else {
                        queryParams.append(param[0], param[1]);
                    }
                } else {
                    queryParams.delete(param[0]);
                }
            }

            url.search = queryParams.toString();
            window.history.replaceState(null, null, url);
            setOrderByForm();
            $.ajax({
                method: 'GET',
                url: url.href,
                type: 'html',
                success: function (data) {
                    $('#product_paginator').empty();
                    $('.product-list-display').empty();
                    $(data).insertAfter("#product-list-waypoint");
                }
            });
        }

        function getDataFromForm(type) {
            $('#' + type + '_form').on('change', function () {
                let checkedValues = []; // Array to store checked checkbox values

                // Find the checkboxes within the specific form that triggered the event
                $(this).find('.custom-control-input:checked').each(function () {
                    let label = $(this).siblings('.custom-control-label').text();
                    checkedValues.push(label);
                });

                addGETParams([type + '=' + checkedValues.join('_')]);
            });
        }

        function setCheckedForm(type) {
            let url = new URL(window.location.href);
            let queryParams = new URLSearchParams(url.search);

            if (queryParams.get(type)) {
                let data = queryParams.get(type).split('_');

                $('#' + type + '_form').find('.custom-control-input').each(function () {
                    let label = $(this).siblings('.custom-control-label').text();

                    if (data.includes(label)) {
                        $(this).prop('checked', true);
                    }
                });
            }
        }

        function setOrderByForm() {
            let url = new URL(window.location.href);
            let queryParams = new URLSearchParams(url.search);
            if (queryParams.get('order_by')) {
                let button = $('#order_by_id');
                if (queryParams.get('order_by') === 'latest') {
                    button.html('Latest');
                }
                if (queryParams.get('order_by') === 'cheap') {
                    button.html('Cheapest');
                }
                if (queryParams.get('order_by') === 'expansive') {
                    button.html('Most expansive');
                }
            }
        }

        $(document).ready(function () {
            getDataFromForm('size');
            getDataFromForm('color');
            setCheckedForm('size');
            setCheckedForm('color');
            setOrderByForm();
        });
    </script>
{% endblock %}